__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env
.venv/
env/
venv/
.idea/
.vscode/
outputs/
cropped_outputs/
pip_cache/
datasets/
.jupyter_runtime/
*.pth
*.pt
*.bin
*.ckpt
*.safetensors
.DS_Store
Thumbs.db
